# Python envs & secrets
.env
.env.*
venv/
.venv/
env/

# App data (don’t commit)
rag_agent/vectorstore/books/
rag_agent/arxiv_pdfs/
rag_agent/preprocessed/
minio/minio_data/
qdrant/qdrant_data/
vectorstore/
data/

# Python caches
__pycache__/
*.py[cod]

# Files
chunks_quality.csv